<script setup>
import { RouterLink, RouterView } from 'vue-router'
import HelloWorld from './components/HelloWorld.vue'
</script>

<template>
	<header>
		<img alt="A'zamjon Aliyev" class="logo" src="@/assets/flex.jpg" width="125" height="125" style="border-radius: 16px;"/>
		<div class="wrapper">
			<HelloWorld msg="A'zamjon Aliyev" />
			<nav>
				<RouterLink to="/">Home</RouterLink>&nbsp;&nbsp;
				<RouterLink to="/about">About</RouterLink>
			</nav>
		</div>
	</header>
	<RouterView />
</template>

<style scoped>
header {
	line-height: 1.5;
	max-height: 100vh;
}

.logo {
	display: block;
	margin: 0 auto 2rem;
}

nav {
	width: 100%;
}

nav a.router-link-exact-active {
	color: var(--color-text);
}

nav a.router-link-exact-active:hover {
	background-color: transparent;
}

nav a {
	display: inline-block;
}

nav a:first-of-type {
	border: 0;
}

@media (min-width: 1024px) {
	header {
		display: flex;
		place-items: center;
		padding-right: calc(var(--section-gap) / 2);
	}

	.logo {
		margin: 0 2rem 0 0;
	}

	header .wrapper {
		display: flex;
		place-items: flex-start;
		flex-wrap: wrap;
	}
}
</style>
